<div class="container">
    <h1 class="mt4">Serviço Prestado</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrum-bitem active">Novo</li>
    </ol>

    <form #form="ngForm" (submit)="onSubmit()">

        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert" *ngIf="msgSucces == true">
                    Serviço Prestado inserido com sucesso !
                </div>
                <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
                    {{ erro }}
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Cliente: </label>
                    <select class="form-control" [(ngModel)]="servicoPrestado.idCliente" [ngModelOptions]="{standalone: true}">
                        <option value="">Selecione</option>
                        <option *ngFor="let cliente of clientes" [ngValue]="cliente.id">
                            {{ cliente.nome }}
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Descrição: </label>
                    <input class="form-control" [(ngModel)]="servicoPrestado.descricao" type="text" name="descricao" id="inputDesc"> 
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Valor do serviço: </label>
                    <input class="form-control" [(ngModel)]="servicoPrestado.preco" type="text" name="preco" id="inputPreco"> 
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Data do serviço prestado: </label>
                    <input class="form-control" [(ngModel)]="servicoPrestado.data" type="text" name="data" id="inputData"> 
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <button type="submit" class="btn btn-success">
                    <i class="fa fa-save"></i>Salvar</button>
            </div>
        </div>
    
    </form>
</div>